
.homepage{
    background-color: rgb(211, 205, 205);
}
.google-engine{
    position: fixed;
    left: 0%;
}
.all-parent-style{
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first-child{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    background: linear-gradient(180deg, rgb(212, 199, 199), #c3c4d4, #d3baba);
}
.static-nav{
    background-color: rgb(212, 199, 199);
    position: sticky;
    top: 0%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-bar{
    width: 90%;
    display: flex;
    margin-left: -7%;
}
.nav-btn{
    padding: 1%;
    border-radius: 4%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 1%;
    box-sizing: border-box;
}
.nav-btn:hover{
    background-color: rgba(68, 92, 79, 0.589);
}
.nav-btn>a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.left-block{
    width: 60%;
    height: 200vh;
}
.intro-pic-container{
    width: 50%;
    background-color: rgb(167, 145, 145);
    margin: auto;
    margin-top: 5%;
    border-radius: 50%;
    border: 4px solid rgb(94, 82, 82);
}
.intro-pic-container > img{
    width: 100%;
    border-radius: 50%;
}
.introduction{
    margin: auto;
    text-align: center;
    width: 80%;
    overflow: auto;
}
.right-block-static{
    height: 90vh;
    width: 30%;
    position: sticky;
    top: 10%;
}
.gallery-h{
    height: 3%;
}
.film-paper-box{
    width: 98%;
    margin: auto;
    height: 20%;
}
.film-paper-box > img{
    width: 100%;
    height: 100%;
}
.slide-window{
    height: 75%;
    width: 98%;
    background-color: white;
    margin: auto;
    overflow: hidden;
}

.slides-container{
    background-color: rgba(0, 0, 0, 0.829);
    width: 98%;
    margin: auto;
    height: 600%;
    animation: gallery 15s linear 1s infinite alternate;
    box-sizing: border-box;
}

.slides-container:hover{
    animation-play-state: paused;
}
@keyframes gallery {
    0%{
        margin-top: -0%;
    }
    100%{
        margin-top: -475%;
    }
}
.image-box{
    background-color: black;
    width: 90%;
    height: 7%;
    margin: auto;
    margin-top: 1px;
    border: 5px dashed rgb(180, 173, 173) ;
    box-sizing: border-box;
}
.image-box > a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center
;}
.image-box > a > img{
    height: 100%;
    max-width: 100%;
    background-color: red;
}
.image-modal{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 65%;
}
.even{
    background-color: rgba(31, 22, 22, 0.507);
}
.odd{
    background-color: rgba(30, 43, 25, 0.507);
}
.child-modal{
    margin: auto;
    position: relative;
    top: 20%;
    height: 30%;
    max-width: 40%;
    background-color: rgb(54, 54, 45);
    animation: spinner 1s linear 1s forwards;
    transition: width 1s, height 1s;
}
.child-modal:hover{
    max-width: 80%;
    height: 60%; 
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.img-size-modal{
width: 100%;
height: 100%;
animation: grow 2s linear 1s forwards;
margin: auto;
}
@keyframes grow {
    0%{
        transform: scale(-1);
    }
    100%{
        transform: scale(1);
    }
}
.img-size-modal>img{
    height: 100%;
    width: 100%;
}
.image-modal:target{
    opacity: 1;
    pointer-events: all;
}
.footer-css{
    display: flex;
    flex-wrap: wrap;
}
/* ................................................... */
.card:hover{
    filter: invert(100%);
}
.parent-window{
    background-color: rgba(37, 34, 34, 0.582);
    pointer-events: none;
    opacity: 0;
}
.bg-gray{
    background-color: rgb(189, 200, 214);
}
.bg-light-gr{
    background-color: rgb(180, 192, 207);
}
.bg-light-dark{
    background-color: rgb(175, 183, 194);
}
.h-90{
    height: 90%;
}
.mh-90{
    max-height: 90%;
}
.parent-window:target{
    pointer-events: all;
    opacity: 1;
}
.w-80{
    width: 80%!important;
}
.w-30{
    width: 30%!important;
}
.w-40{
    width: 40%!important;
}
.card-adjust{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
#projects{
    height: 600px;
}
/* -------------------------- */
