body {
  background-color: rgba(210, 135, 222,0.3);
  /* background-image: url(image1.jpg);
  background-repeat: no-repeat; */
}




.h1 {

color: white;
background-color: lightpink;
width:36%;
text-align: center;
/* margin-left: 32%; */
margin: auto;
margin-top: 12%;
margin-bottom: 4%;
border: 2px solid orange;
box-shadow: 8px 8px 10px;
}

/* img {
  width:44%;
  margin-left: 3%;
  height:100px;
} */

/* method2 */
.frame {
/* box-sizing: border-box; */
/* border: 2px solid red; */
width:44%;
height: 460px;
float: left;
margin-left: 3%;
margin-bottom: 2%;
}

--img {
width:100%;
height: 60%;
border-radius: 10px;
border: 2px solid green;
padding: 8px;
filter:grayscale(0.8);

}

.random {
margin-top: 80%;
}








/* OCT12 */

.row{
  border: 2px solid red;
  height: 400px;
}

.col {
width:13%;
height:100%;
float: left;
background-color: lightgreen;
margin-left: 3%;
margin-bottom: 3%;
}


.colorBlock{
  margin: auto;
  width: 300px;
  height: 200px;
  background-image: linear-gradient(to top right, blue,purple);
}

/*
.box3{
  background-color: lightgreen;
  border:2px solid green;
  height: 300px;
  position: relative;
}
.box3 > img {
  width: 100%;
  height: 100%;
} */

.messageBlock3{
    position: absolute;
    top:2%;
    font-size: 2em;
    color: white;
    background-color: rgba(96, 94, 97, 0.5);
    width:30%;
}





.box4{
  background-color: lightgreen;
  border:2px solid green;
  height: 300px;

}
.box4 > img {
  width: 100%;
  height: 100%;
}

.messageBlock4{
  margin:-8%;
  background-color: orange;
}

.box2{
  border:2px solid green;
  height: 300px;
}

.box{

  background-image: url('image1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:100%;
  height:400px;
  position: relative;
}

.messageBlock{
 font-size: 2em;
 color: white;
 background-color: rgba(96, 94, 97, 0.5);
 width:30%;
 position:absolute;
 /* top:30%;
 left:30%; */
 margin-left:35%;
 top:30%;
 padding:12px;
}
