body{
    background-color: rgb(188, 252, 252);
    margin-left: 3%;
}
.h1-nyc{
    text-align: center;
}
.box{
    position: relative;
    height: auto;
    width: 30%;
    float: left;
    margin: 0 0 5% 2%;
    min-height: 500px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0;
}

img{
    width: 100%;
}
p{
    height: 200px;
    overflow: auto;
    border: 1px solid rgb(180, 248, 248);
    padding: 10px;
}

button{
    margin: auto;
    display: flex;
}